<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifast.menuDrawer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    <activity
        android:name=".activity.MainActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".activity.ArticleDetailActivity"
        android:label="@string/title_activity_article_detail" >
        <!--<intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>-->
    </activity>
    <activity
        android:name=".activity.SelectLanguagesActivity"
        android:label="@string/title_activity_select_languages" >
        <!--<intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>-->
    </activity>
    </application>
</manifest>
